<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <!-- CSS estilo geral-->
    <link rel="stylesheet" href="../../css/EstiloGeral.css">

    <!--Estilo próprio-->
    <link rel="stylesheet" href="/css/Pagina-principal/StyleIndex.css">

    <!--importando Jquery para permitir importação de arquivo html em outro html-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Página Principal</title>
</head>
<body>
    
    <!-- Menu principal da página -->
    
    <div id="nav"></div>

    <!-- Conteúdo principal -->

    <main class="container">

        <!-- Descrição -->

        <section class="descricao">
            <h1 class="titulo">Sou Dev Front-End</h1>
            <p>
                Olá, sou Leandro de Jesus, desenvolvedor Front-End e acadêmico de ciência da computação.
                
            </p>
        </section>

        <!--Foto de perfil-->

        <section class="img-descricao">
            <img src="/image/Perfil/Foto-perfil.svg" alt="Foto do perfil de Leandro de Jesus">
        </section>

    </main>

    <!--Rodapé-->       
    <div id="rodape"></div>

    <!--Script para adicionar os components do-->
    <script src="/js/component.js"></script>
    
</body>
    
</html>