/*===================== VARIÁVEIS =============================*/

:root{
    /*Cores*/
    --Cor-BG-Container: #3E3E3E;
    --Cor-BG: rgb(97, 83, 216);
}

/*===================== CORPO PRINCIPAL =====================*/
body{
    width: 100%;
}

/*Estilo do conteúdo da página principal*/

.container{
    width: 100%;
    height: 31em;
    
    
    margin: 1em auto;
    padding: 0.5em 0;
    
    background: var(--Cor-BG-Container);

    border-radius: 1em;

    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 50%));   
}

/*Contéudo interno - bloco direito da imagem*/

.img-descricao{
    width: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
}

/*Ajustando tamanho da imagem de pérfil*/

.img-descricao img{
    width: 65%;
    height: 65%;
}

/*===================== Descrição de mim =====================*/

.descricao{
    display: flex;
    
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.descricao p{
    width: 50%;
    margin: 0 auto;
    padding: 2em;
    border: 1.5px solid var(--Cor-BG);
    border-radius: 1em;
}


/*===================== MEDIA QUERY =====================*/

/*Media query - alinhar como apenas uma coluna*/
/*Tamanho : Tablet - 768px*/
@media (max-width: 768px) {
    .container{
        grid-template-columns: 100%;
        height: 100%;
    }
    
    .img-descricao{
        grid-row: 1;
    }
}

