<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
    <!-- CSS estilo geral-->
    <link rel="stylesheet" href="/css/EstiloGeral.css">
    <!--Estilo próprio-->
    <link rel="stylesheet" href="/css/DesTec/DesTec.css">

    <!--importando Jquery para permitir importação de arquivo html em outro html-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Descrição tecnologia</title>
</head>
<body>
    <!-- Menu principal da página -->
    
    <div id="nav"></div>


    <!-- contéudo principal da descrição de tecnologia-->
    <main class="container">

            <!--Card de tecnologia HTML-->

        <section id="HTML" class="card-tech">

            <div>
                <img width="100px" height="100px" src="/image/Logo/HTML-logo.png" alt="Ícone HTML">

                

                <p>
                    é uma linguagem de marcação de hipertexto,
                    que usa elementos para representar conteúdos específicos dentro de uma página.
                    Os elementos do HTML são responsáveis pela informação que vai ser exibida para o usuário, 
                    porém não em como será o estilo e formato a ser exibido.

                </p>
            </div>

            <ul>
                <li>
                    <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML">Site oficial</a>
                </li>
                    
                <li>
                    <a target="_blank" href="https://www.geeksforgeeks.org/advantages-and-disadvanatges-of-html/ ">Pros e contras</a>
                </li>
                
                <li>
                    <a target="_blank" href="https://careerkarma.com/blog/who-uses-html/#:~:text=Web%20developers%20use%20HTML%20in,Tencent%2C%20Baidu%2C%20and%20YouTube.">Grandes projetos</a>
                </li>
            </ul>
            
            <iframe src="https://www.youtube.com/embed/ok-plXXHlWw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </section>

        <!-- Card de CSS -->

        <section id="CSS" class="card-tech">
            <div>
                <img width="100px" height="100px" src="/image/Logo/CSS-logo.png" alt="Ícone CSS">
                <p>
                    CSS, denominado Cascading Style Sheets ou  Folha de Estilo em Cascatas, é um mecanismo para adicionar estilo a um documento web, HTML. 
                    O código CSS pode ser aplicado diretamente nas tags ficando contido dentro das tags "style".
                    É possível, em vez de colocar a formatação dentro do documento, criar um link para um arquivo CSS que contém os estilos.
                </p>
            </div>
            <ul>
                <li>
                    <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS">Site oficial</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.geeksforgeeks.org/advantages-and-disadvantages-of-css/">Prós e ContrasS</a>
                </li>
                <li>
                    <a target="_blank" href="https://enlyft.com/tech/products/css-ag">Grandes projetos</a>
                </li>
            </ul>
            <iframe src="https://www.youtube.com/embed/OEV8gMkCHXQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>

        <!--Card de tecnologia Reactjs-->

        <section id="ReactJS" class="card-tech">
            
            <div>
                <img width="100px" height="100px" src="/image/Logo/React-icon.png" alt="Ícone ReactJS">

                <p>
                    O React, também denominado React.js ou ReactJS, é uma biblioteca Front-end JavaScript 
                    de código aberto com foco em criar interfaces de usuário em páginas web.
                </p>
            </div>

            <!--Lista de informações da tecnologia-->
            
            <ul>
                <li>
                    <a target="_blank" href="https://pt-br.reactjs.org/">Site oficial</a>
                </li>
                <li>
                    <a target="_blank" href="https://matchboxdesigngroup.com/blog/the-pros-and-cons-of-using-reactjs/">Pros e contras</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.tatvasoft.com/outsourcing/2022/02/top-10-successful-companies-using-react-js.html">Grandes projetos</a>
                </li>
            </ul>

            <iframe src="https://www.youtube.com/embed/Tn6-PIqc4UM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </section>

    </main>
    
    <!--Rodapé-->       
    <div id="rodape"></div>

    <!--Script para adicionar os components do menu-->
    <script src="/js/component.js"></script>
</body>
</html>