/*===================== VARIÁVEIS =============================*/

:root{
    /*Cores*/
    --Cor-BG-Container: #3E3E3E;
    --Cor-BG: rgb(97, 83, 216);
    --Form-BG:#585858;
    --Form-bar: #D9D9D9;
    --Cor-icon: rgb(173, 24, 24);
}

/*===================== CORPO PRINCIPAL =======================*/

body{
    width: 100%;
}

/*Ajustando preenchimento do container e disposição dos itens no container*/

.container{
    width: 100%;
    min-height: 31em;
    margin: 1em 0;
    padding: 0.5em;
    
    border-radius: 1em;

    background-color: var(--Cor-BG-Container);
    display: grid;
    grid-template-columns: 100%;
    gap: 1em;
    align-items: center;
}


/*===================== CARDS DE TECNOLOGIAS =======================*/


/*Ajustando card de tecnologias*/

.card-tech{
    width: 65%;

    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
    padding: 0.5em 0;
    align-items: center;
    background-color: var(--Cor-BG);
    
}

.card-tech iframe{
    width: 80%;
    height: 315px;
    
    margin-top: 0.5em;

    
}

/*Último card de tecnologia terá espaçamento do fundo do main*/

.card-tech:nth-child(3){
    margin-bottom: 0.5em;
}

/*alinhando icone e texto de descrição*/

.card-tech div{
    display: flex;
    align-items: center;
}

/*Ajustando paragrafo de texto*/

.card-tech div > p{
    width: 60%;
    margin: 0 auto 0.5em;
    
}

/*Ajustando links na horizontal*/

.card-tech ul{
    display: flex;
    margin: 0 auto;
}

/*Ajustando espaçamento entre os links e a cor do link*/

.card-tech ul li > a{
    margin: 0 0.2em;
    color: var(--Form-bar);
}

/*Efeito ao passar o mouse sobre os links*/

.card-tech ul li > a:hover{
    color: var(--Cor-icon);
}

/*===================== RESPONSIVIDADE =======================*/

@media (max-width: 768px) {
    .card-tech{
        width: 95%;
    }
    .card-tech div{
        flex-direction: column;
        text-align: center;
    }
}