/*===================== VARIÁVEIS =============================*/

:root{
    /*Cores*/
    --Cor-BG-Container: #3E3E3E;
    --Cor-BG: rgb(97, 83, 216);
    --Cor-Card-BG: rgb(179, 179, 179);
}

/*===================== CORPO PRINCIPAL =====================*/
body{
    width: 100%;
    margin: 0 auto;
}

/*Estilo do conteúdo da página principal*/

.container{
    width: 100%;
    min-height: 31em;

    margin: 1em;
    padding: 0.5em;

    background: var(--Cor-BG-Container);

    border-radius: 1em;

    display: grid;
    grid-template-columns: 100%;
    gap: 1em;
    align-content: center;
    justify-content: center;
    
}


/*====================== CARD DE ATUAÇÃO PROFISSIONAL ======================*/


/*Ajustando as barras de informações, centralizando, alinhando itens na horizontais*/

.card-prof{
    width: 55%;
    height: 100%;
    margin: 0 auto 0;
    padding: 0.5em 2em;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border: 1.5px solid var(--Cor-BG);

    
}

/*
Ajustando título do card: tamanho, peso, margem entre o texto e linha separando texto do título*/

.card-prof h2{
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.2em;
    padding: 0 0 0.2em 0;
    border-bottom: 0.2em solid var(--Cor-BG);
    
}

/*afastando texto da foto*/

.card-prof div{
    margin-left: 1.5em;
}


.nav-bar ul li:nth-child(4)>a{
    background-color: var(--Cor-BG);
}


/*============= RESPONSIVIDADE =============*/

@media (max-width: 768px) {
    .container{
        height: 100%;
        padding: 1em 0;
    }
    .card-prof{
        flex-direction: column;
        text-align: center;
    }
    .card-prof{
        width: 75%;
        text-align: center;
        align-items: center;
    }
}