
/*===================== VARIÁVEIS =============================*/

:root{
    /*Cores*/
    --Cor-BG-Container: #3E3E3E;
    --Cor-BG-Card: #c5c5c5;
    --Cor-BG: rgb(97, 83, 216);
    --Cor-card: rgb(97, 83, 216);
}

/*===================== CORPO PRINCIPAL =======================*/

body{
    width: 100%;
}

/*Ajustando preenchimento do container e disposição dos itens no container*/

.container{
    width: 100%;
    min-height: 31em;
    margin: 1em auto;
    padding: 1em 0;
    
    border-radius: 1em;

    background-color: var(--Cor-BG-Container);
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
}

/*===================== CARDS A ESQUERDA =======================*/

.card-esq{
    width: 100%;
    
}

.card-esq ul li{
    width: 100%;
    
    border: 1.5px solid var(--Cor-card);
    padding: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card-esq h1{
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.2em;
    padding: 0 0 0.2em 0;
    border-bottom: 0.2em solid var(--Cor-BG);
}

/*===================== CARDS A DIREITA =======================*/

.card-dir{
    width: 100%;
    
}

.card-dir ul li{
    width: 100%;
    margin-bottom: 0.5em;
    border: 1.5px solid var(--Cor-card);
    padding: 1em;

    display: flex;
    align-items: center;
    justify-content:space-evenly ;
}

.card-dir h1{
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.2em;
    padding: 0 0 0.2em 0;
    border-bottom: 0.2em solid var(--Cor-BG);
}

@media( max-width: 768px){
    
    .card-esq ul li{
        flex-direction: column;
        
        text-align: center;

    }
    .card-dir ul li{
        flex-direction: column;

        text-align: center;
    }
}